p, h1, a {
	color: #333333;
	font-family: Helvetica Neue;
	font-size: 12px;
	margin-top: 0px;
	margin-bottom: 0px;
	text-align: center;
}

a {
	color: blue;
}

h3 {
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 0px;
}